<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/restaurant.css">
    <title>Kenny Rosie Eatery</title>
</head>

<body>
<nav id="restaurant-home">
    <h1 class="logo">AnoUlam.com</h1>
    <a th:href="@{/home}" href="/index.html">Home</a>
    <a href="#menu">Menu</a>
    <a href="#contacts">Contact Us</a>
</nav>

<section id="restaurant-information">
    <img th:src="${restaurant.imagePath}" src="/img/restaurants/restaurant1.jpg" alt="Restaurant Image here.">
    <div class="information">
        <h1 th:text="${restaurant.name}">Kenny Rosie Eatery</h1>
        <p th:text="${restaurant.description}" class="short-description">This is a test description.</p>
        <ul>
            <li th:each="point : ${restaurant.keypoint}" th:text="${point}">I can confirm that they give huge
                amount of serving.
            </li>
        </ul>
    </div>
</section>
<section id="menu">
    <header>
        <h1>Mga Ulam Ngayong Araw</h1>
        <p>Ito ang mga nakahanda ngayong araw</p>
    </header>
    <div class="container">
        <div th:each="item : ${menu}" class="box">
            <img th:src="${item.imagePath}" src="/img/burger.jpg" alt="Restaurant Photo" class="image">
            <div class="restaurant-name">
                <p th:text="${item.name}">Beef Burger with Fries</p>
            </div>
            <div class="price">
                <p th:text="${item.priceRange}">P60</p>
            </div>
        </div>
    </div>
</section>
</body>

</html>